    <div class="row justify-content-between">
        <div class="col-sm-10">
            <h1 style="color: white; font-size: 4rem;">Reserve Meeting Room System</h1>
            <div class="row">
                <div class="col-sm-6">
                    <label style="color: white; font-size: 2rem;">Select Meeting Room : </label>
                    <select style="font-size: 2rem;" name="cars" id="cars">
                        <option *ngFor="let item of room;" >{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button class ="btn btn-primary btn-lg btn-block" style="font-size: 2rem; margin-top: 20px;">RESERVE</button>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <full-calendar #calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Topic</th>
                            <th>Start</th>
                            <th>Finish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of appointment; let i = index">
                            <td class="keyword">{{item.topic}}</td>
                            <td class="keyword">{{item.datestart}}</td>
                            <td class="keyword">{{item.dateFinish}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
