<div class="p-3">
    <h3>Hi. My Name is Komgris Ratanacoop.</h3><h4>I'm Junior Web Developer.</h4><br/>
    
    <h5 class="text-center">this website is part of my portfolio. I use Angular to built this website. i deploy frontend using aws amplify
        and all data in this site is temporary. it will back to default when you refresh it.<br/>  
        you can see my sourcecode here >> <a class="btn btn-link" href="https://github.com/Komgris/Dashboard_Portfolio">github</a></h5>

        <h5>All of feature in this website</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5>Dashboard :</h5> Dashboard that implement many free api</li>
            <li class="list-group-item"><h5>Libary :</h5> i use openlibraryAPI to Demo library system. you can search book or author and borrow it to you cart</li>
            <li class="list-group-item"><h5>Report :</h5> just a mock data and Export as Excel </li>
            <li class="list-group-item"><h5>Calendar :</h5>  Demo Reserve Meeting Room System. you can choose meeting room and date to reserve</li>
          </ul>
          <button type="button" (click)="activeModal.close()" class="btn btn-primary btn-lg btn-block">Got it and see site !!!</button>

          <div class="card text-white bg-secondary mt-2 ">
              <div class="card-header">
                  <h5>Contact</h5>
              </div>
              <div class="card-body">              
                    <li>Email : komgris.ratanacoop@hotmail.com</li>
                    <li>Tel : 088-970-6605</li>
                    <li>Github : <a class="btn btn-link text-white" href="https://github.com/Komgris">github</a></li>        
              </div>
          </div>
</div>
